<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="~{base:: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container">	
		<div th:replace="~{base :: titulo('Cadastre seu Evento')}"></div>
		<div class="card">
			<form th:object="${requisicaoNovoEvento}" class="card-body" method="POST">
				<div class="form-group mb-2">
					<input th:field="*{nome}" th:errorclass="is-invalid" class="form-control " type="text" placeholder="Nome"/>
				</div>
				<div class="form-group mb-2">
					<input th:field="*{local}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Local"/>
				</div>
				<div class="form-group mb-2">
					<input th:field="*{data}" th:errorclass="is-invalid" class="form-control" type="date" placeholder="Data"/>
				</div>
				<div class="form-group mb-2">
					<input class="form-control" type="time" value="" name="hora" placeholder="Hora" required/>
				</div>
				
					<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>